---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Mitanda - Crea, gestiona y participa en tandas">
	<div
		class="flex flex-col w-full gap-8 justify-start items-center text-whiteMain"
	>
		<div class="h-full w-full bg-slate-950">
			<div
				class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
			>
			</div>
		</div>
		<div class="max-w-7xl w-full flex flex-col">
			<div
				class="max-w-7xl w-full flex flex-col pt-32 pb-32 pr-4 pl-4 gap-4 z-[1]"
			>
				<h1
					class="leading-tight text-6xl text-black-main font-bold text-center text-whiteMain"
				>
					Tu espacio seguro y transparente para crear, gestionar y
					unirte a tandas.
				</h1>
				<h2
					class="text-2xl text-black-ligth text-center pt-4 text-whiteMain"
				>
					Uniendo esfuerzos, multiplicando beneficios.
				</h2>
				<div
					class="flex flex-row w-full gap-4 items-center justify-center pt-8"
				>
					<Image
						src="https://firebasestorage.googleapis.com/v0/b/mitanda.appspot.com/o/assets%2Fbatch_overview.png?alt=media&token=d7275244-da8e-4ef7-adaf-c28dcaf916f4"
						alt="A bird."
						width="1200"
						height="200"
					/>
				</div>
			</div>
		</div>
		<section
			class="max-w-7xl w-full flex flex-col pt-32 pb-32 pr-4 pl-4 gap-4"
		>
			<div class="flex flex-col md:flex-row gap-4 justify-between w-full">
				<div class="max-w-xl flex flex-col gap-4">
					<p class="text-2xl font-bold">Registro Detallado</p>
					<p class="text-base">
						A través de nuestra aplicación, mantén un seguimiento
						claro de quién ha contribuido y quién no, asegurando una
						gestión eficiente de tu tanda.
					</p>
				</div>
				<Image
					src="https://firebasestorage.googleapis.com/v0/b/mitanda.appspot.com/o/assets%2Fcontribution_registers.png?alt=media&token=a343dcb9-74de-49d6-9529-cd8b42630737"
					alt="A bird."
					width="350"
					height="200"
					class={" object-contain rounded-md"}
				/>
			</div>
		</section>
		<section
			class="max-w-7xl w-full flex flex-col pt-32 pb-32 pr-4 pl-4 gap-4"
		>
			<div
				class="flex flex-col-reverse sm:flex-col-reverse md:flex-row gap-4 justify-between w-full items-start"
			>
				<div class="flex flex-col gap-2">
					<Image
						src="https://firebasestorage.googleapis.com/v0/b/mitanda.appspot.com/o/assets%2Finvite_link.png?alt=media&token=c7bfbc2f-d9c8-429d-8943-cc6284378c7d"
						alt="A bird."
						width="500"
						height="200"
						class={" object-contain rounded-md"}
					/>
					<Image
						src="https://firebasestorage.googleapis.com/v0/b/mitanda.appspot.com/o/assets%2Fparticipants.png?alt=media&token=3457a263-1f75-426f-bf37-0534c5684d8d"
						width="250"
						height="200"
						class={" object-contain rounded-md"}
						alt="A bird."
					/>
				</div>
				<div class="max-w-xl flex flex-col gap-8">
					<p class="text-2xl font-bold">
						Ahorra con Amigos y Familiares
					</p>
					<p class="text-base">
						¡Invita a tus amigos y familiares a unirse a la tanda
						con este enlace! Ahorra de forma divertida y segura con
						este sistema tradicional de ahorro. Comparte este enlace
						y disfruta de los beneficios de la comunidad en la
						tanda.
					</p>
				</div>
			</div>
		</section>
		<section
			class="max-w-7xl w-full flex flex-col pt-32 pb-32 pr-4 pl-4 gap-4"
		>
			<div
				class="flex flex-col sm:flex-col md:flex-row gap-4 justify-between w-full"
			>
				<div class="max-w-xl flex flex-col gap-4">
					<p class="text-2xl font-bold">
						Mantén un registro de tus ganancias
					</p>
					<p class="text-base">
						Lleva un control preciso de tus finanzas en la sección
						Balance y visualiza tus ganancias por tanda, total
						acumulado y fechas.
					</p>
				</div>
				<Image
					src="https://firebasestorage.googleapis.com/v0/b/mitanda.appspot.com/o/assets%2Fbalance.png?alt=media&token=3e52dca3-5023-415f-aa3a-54d1c66b2030"
					alt="A bird."
					width="600"
					height="300"
					class={" object-contain rounded-md"}
				/>
			</div>
		</section>
		<section
			class="max-w-7xl w-full flex flex-col pt-32 pb-32 pr-4 pl-4 gap-4"
		>
			<div class="flex flex-col md:flex-row gap-4 justify-between w-full">
				<div class="max-w-xl flex flex-col gap-4">
					<p class="text-2xl font-bold">Creación de tandas</p>
					<p class="text-base">
						Disfruta de la creación gratuita de tu primera tanda y
						continúa organizando tandas posteriores por una pequeña
						tarifa de <span class="text-greenMain font-bold"
							>99 MXN</span
						> cada una.
					</p>
				</div>
				<Image
					src="https://firebasestorage.googleapis.com/v0/b/mitanda.appspot.com/o/assets%2Fbatches.png?alt=media&token=709a8944-f53b-4fcd-9dc0-58d241f3ce07"
					alt="A bird."
					width="450"
					height="200"
					class={" object-contain rounded-md"}
				/>
			</div>
		</section>
		<section
			class="max-w-7xl w-full flex flex-col pt-32 pb-32 pr-4 pl-4 gap-4"
		>
			<div class="flex flex-col gap-2">
				<p class="text-2xl font-bold">Video demo</p>
				<div class="flex justify-center items-center w-full">
					<div class="w-[620px] h-[420px] rounded-md overflow-hidden border-2 border-blackNormal">
						<iframe
							width="100%"
							height="100%"
							src="https://www.youtube.com/embed/zQbDzOLWGvI?si=Ae1N7wEPAj0GdYsK"
							title="YouTube video player"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							referrerpolicy="strict-origin-when-cross-origin"
							allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>
	</div>
</Layout>
