---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Mitanda - Términos y Condiciones">
    <div
        class="flex flex-col w-full gap-8 justify-start items-center text-whiteMain"
    >
        <div class=" max-w-5xl w-full flex flex-col p-8">
            <h1 class="text-whiteMain font-bold text-xl">
                Términos y Condiciones
            </h1>
            <div class="flex flex-col pt-4 pb-4">
                <h2 class="text-base">1. Introducción</h2>
                <p class="text-base text-justify text-grayMain">
                    Al usar Mitanda, confirmas tu aceptación y acuerdo con estos
                    términos y condiciones.
                </p>
            </div>
            <div class="flex flex-col pt-4 pb-4">
                <h2 class="text-base">
                    2. Acuerdo con los Términos y Condiciones
                </h2>
                <p class="text-base text-justify text-grayMain">
                    Este Acuerdo entra en vigor en la fecha en la que usas por
                    primera vez la aplicación Mitanda.
                </p>
            </div>
            <div class="flex flex-col pt-4 pb-4">
                <h2 class="text-base">
                    3. Licencia de Software con Derecho a Terminación
                </h2>
                <p class="text-base text-justify text-grayMain">
                    Mitanda permite el acceso parcial al software y se reserva
                    el derecho de cobrar una tarifa a los usuarios por creación
                    de tanda, otorgando el acceso ilimitado y perpetuo a las
                    funcionalidades completas de una tanda. Este modelo implica
                    un acuerdo sencillo y flexible, eximiendo a los usuarios de
                    suscripciones recurrentes. Sin embargo, es importante
                    reconocer que el licenciante se reserva el derecho de
                    rescindir la licencia sin condiciones ni requisitos previos.
                    Esta disposición de terminación permite al licenciante
                    ejercer control sobre la distribución y utilización del
                    software.
                </p>
            </div>
            <div class="flex flex-col pt-4 pb-4">
                <h2 class="text-base">4. Reembolsos</h2>
                <p class="text-base text-justify text-grayMain">
                    Debido a la naturaleza de los productos digitales, la
                    creación de una tanda no se puede reembolsar ni cambiar una
                    vez otorgado el acceso.
                </p>
            </div>
            <div class="flex flex-col pt-4 pb-4">
                <h2 class="text-base">5. Descargo de responsabilidad</h2>
                <p class="text-base text-justify text-grayMain">
                    No se garantiza que Mitanda satisfaga sus necesidades o que
                    su funcionamiento sea ininterrumpido o libre de errores. Se
                    excluyen y rechazan expresamente todas las garantías o
                    condiciones expresas e implícitas no mencionadas en este
                    Acuerdo (incluidas, entre otras, lucro cesante, pérdida o
                    corrupción de datos, interrupción del negocio o pérdida de
                    contratos), en la medida en que dicha exclusión o descargo
                    de responsabilidad esté permitida por la ley aplicable. Este
                    Acuerdo no afecta sus derechos legales.
                </p>
            </div>
            <div class="flex flex-col pt-4 pb-4">
                <h2 class="text-base">
                    6. Garantías y Limitación de Responsabilidad
                </h2>
                <p class="text-base text-justify text-grayMain">
                    Mitanda no otorga ninguna garantía ni otro término en cuanto
                    a la calidad, idoneidad para un propósito determinado o
                    cualquier otro aspecto del software. Mitanda no será
                    responsable ante usted por ninguna representación, ni por
                    ninguna garantía, condición u otro término implícito, ni por
                    ningún deber del derecho común, por cualquier pérdida de
                    beneficios o cualquier pérdida, daño, costo, gasto u otra
                    reclamación indirecta, especial o consecuente (causada por
                    negligencia de Mitanda o la negligencia de sus empleados o
                    agentes o de cualquier otra manera) que surja de o en
                    relación con la prestación de cualquier servicio o producto
                    por parte de Mitanda. Mitanda no será responsable ni se
                    considerará en incumplimiento de contrato por cualquier
                    retraso en el cumplimiento o por no cumplir con cualquiera
                    de sus obligaciones si el retraso o la falta se debieron a
                    una causa fuera de su control razonable. Sin perjuicio de
                    las cláusulas contrarias en este Acuerdo, en el caso de que
                    Mitanda sea considerado responsable ante usted por el
                    incumplimiento de este Acuerdo, usted acepta que la
                    responsabilidad de Mitanda se limita a la cantidad realmente
                    pagada por usted por sus servicios o software, monto
                    calculado en base a esta cláusula. Por la presente, libera a
                    Mitanda de cualquier obligación, responsabilidad y
                    reclamación que exceda de esta limitación.
                </p>
            </div>
            <div class="flex flex-col pt-4 pb-4">
                <h2 class="text-base">7. Responsabilidades</h2>
                <p class="text-base text-justify text-grayMain">
                    Mitanda no se responsabiliza de lo que el usuario haga con
                    el contenido generado por el usuario.
                </p>
            </div>
            <div class="flex flex-col pt-4 pb-4">
                <h2 class="text-base">8. Términos Generales y Ley</h2>
                <p class="text-base text-justify text-grayMain">
                    Este Acuerdo se rige por las leyes de México. Usted reconoce
                    que no existe ninguna relación de empresa conjunta,
                    asociación, empleo o agencia entre usted y Mitanda como
                    resultado de su uso de estos servicios. Usted acepta no
                    hacerse pasar por un representante, agente o empleado de
                    Mitanda. Usted acepta que Mitanda no será responsable por
                    ninguna representación, acto u omisión de su parte.
                </p>
            </div>
            <div class="flex flex-col pt-4 pb-4">
                <p class="text-sm text-justify">
                    Última actualización: 2 de mayo del 2024
                </p>
            </div>
        </div>
    </div>
</Layout>
