---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/mitanda-isotipo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="flex flex-col w-full items-center justify-start gap-4">
			<header
				class="flex flex-row items-center justify-between p-2 max-w-7xl w-full sticky top-0 z-10 bg-white-main"
			>
				<div
					class="p-1 flex flex-row items-center justify-between gap-4"
				>
					<img src="/mitanda-isotipo.svg" height={40} width={40} />
					<p class="text-black-ligth text-2xl font-bold">
						mitanda.xyz
					</p>
				</div>
				<!-- <a
                    href="/app"
                    class="p-3 outline-none text-sm rounded-lg bg-green-main text-black-main font-semibold"
                    >Ir a la app</a
                > -->
			</header>
			<main class="w-full">
				<slot />
			</main>
			<footer
				class="w-full flex items-start justify-center bg-black-ligth p"
			>
				<div class="max-w-7xl w-full flex flex-col gap-4 p-8">
					<span class="text-xs text-white-ligth"
						>mitanda.xyz ® es una marca registrada, todos los
						derechos reservados {new Date().getFullYear()}</span
					>
					<span class="text-xs text-white-ligth"
						>Hecho en México con amor ♥️</span
					>
				</div>
			</footer>
		</div>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "Poppins";
		src: url("/fonts/Poppins-Black.ttf") format("truetype");
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Poppins";
		src: url("/fonts/Poppins-Bold.ttf") format("truetype");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Poppins";
		src: url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Poppins";
		src: url("/fonts/Poppins-ExtraLight.ttf") format("truetype");
		font-weight: 200;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Poppins";
		src: url("/fonts/Poppins-Light.ttf") format("truetype");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Poppins";
		src: url("/fonts/Poppins-Medium.ttf") format("truetype");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Poppins";
		src: url("/fonts/Poppins-Regular.ttf") format("truetype");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Poppins";
		src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Poppins";
		src: url("/fonts/Poppins-Thin.ttf") format("truetype");
		font-weight: 100;
		font-style: normal;
		font-display: swap;
	}

	html {
		font-family: "Poppins", sans-serif;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
